body{
	background: url('fond.jpg') fixed;
}

/* D�finition du style commun � tous les fonds de DIV de classe css "fondDiv" */
div.fondDiv {
	z-index: 0;
	position: absolute;
	width: 100%;
	height: 100%;
}
/* D�finition du style commun � tous les contenus de DIV de classe css "contenuDiv" */
div.contenuDiv {
	z-index: 1;
	position: relative;
	height: 100%;
}


/**********************************************************************/
/* D�finition du style du DIV d'identifiant "Bandeau" */
#Bandeau{
	z-index: 3;
	position: relative;
	margin-top:10px;
	margin-bottom:10px;
	margin-left:auto;
	margin-right:auto;
	/*height: 40px;*/
	width: 1020px;
	border: solid 3px red; 
	background: white;
}

/* Sp�cialisation du style du DIV de classe "contenuDiv" qui se trouve dans le DIV d'identifiant "Bandeau" */
#Bandeau div.contenuDiv {
	text-align: center;
	font-size: 200%;
	text-transform: uppercase;
}


/**********************************************************************/
/* D�finition du style du DIV d'identifiant "Centre" */
#Centre{
	clear: both;
	z-index: 2;
	/*position: relative;*/
	margin-left:auto;
	margin-right:auto;
	height:600px;
	width: 1020px;
}


/**********************************************************************/
/* D�finition du style du DIV d'identifiant "Menu" */
#Menu{
	position: relative;
	float:left;
	width: 180px;
	min-height: 400px;
	border: solid 3px blue; 
	background:grey;
}

/**********************************************************************/
/* D�finition du style du DIV d'identifiant "Contenu" */
#Contenu{
	position: relative;
	width:800px;
	float:right;
	height:100%;
	text-indent: 30px; /* Les paragraphes commencent 30 pixels sur la droite */
	text-align: justify; /* Ils sont justifi�s */
	font-family: "Comic Sans MS", Georgia, "Times New Roman", serif;
	border: solid 3px blue;
	background:white;
}

/* Sp�cialisation du style du DIV de classe "contenuDiv" qui se trouve dans le DIV d'identifiant "Contenu" */
#Contenu div.contenuDiv {
	/*min-height: 400px;*/
	height: 90%;
	padding:20px;
	overflow:auto;
}


/**********************************************************************/
/* D�finition du style du DIV d'identifiant "pied_page" */
#Pied_page{
	clear: both;
	margin-top:10px;
	margin-bottom:10px;
	margin-left:auto;
	margin-right:auto;
	height: 40px;
	width: 1020px;
	border: solid 3px red;	position:relative; 
	background:white;
}
#Pied_page div.contenuDiv {
	text-align: center;
}